<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <title>Eliezer</title>
  <style>
    table {
      border: 3px solid black;
      text-align: center;
      margin: 0 auto;
    }

    td,th {
      border: 3px solid black;
      width: 161px;
      height: 26px;
    }
  </style>
</head>
<body dir="rtl">
  <!-- <script type="text/javascript" src="date.js"></script> -->