<!-- <%- include ("../partials/header")%> -->
<form action="/agent/<%=agent.id%>/setgoals" method="POST">
<table>
    <thead>

        <tr>
            <td><input type="text" placeholder="הזן סכום ...." id="edu" /></td>
            <td>

                <input type="text" list="filter" class="form-control" name="filter"
                    placeholder="בחר סטטוס" />
                <datalist id="filter">
                    <option value="comersial">מסחרי</option>
                    <option value="private">פרטי</option>
                    <option value="rents">השכרות</option>
                </datalist>
            </td>

        </tr>

        <tr>
            <td><input type="button" value="בחר סכום אחר " onclick="clr()" /> </td>
            <td><input type="button" value="בצע חישוב " onclick="cahngevalue()" /></td>
        </tr>
    </thead>

        <tbody>
            <tr>
                <td>פגישות </td>
                <td><input type="number" class="form-control" id="meeting" name="meeting" required></td>
            </tr>
            <tr>
                <td>הדבקת פליירים </td>
                <td><input type="number" class="form-control" id="stickerFlyers" name="stickerFlyers"></td>
            </tr>
            <tr>
                <td>נכסים נדרשים </td>
                <td><input type="number" class="form-control" id="cantidadDePropiedadesN" name="learninGandRenewal">
                </td>
            </tr>
            <tr>
                <td>משא ומתן בתהליך </td>
                <td><input type="number" class="form-control" id="negotiationsInTheProcess"
                        name="negotiationsInTheProcess">
                </td>
            </tr>
            <tr>
                <td>עסקאות בפועל </td>
                <td><input type="number" class="form-control" id="actualTransactions" name="actualTransactions"></td>
            </tr>
            <tr>
                <td>סיורי שוכרים </td>
                <td><input type="number" class="form-control" id="rentalTours" name="rentalTours"></td>
            </tr>
            <tr>
                <td>שתופי פעולה </td>
                <td><input type="number" class="form-control" id="collaborations" name="collaborations"></td>
            </tr>
            <tr>
                <td>שיחות ללקוחות קודמים </td>
                <td><input type="number" class="form-control" required id="conversationsWithPreviousClients"
                        name="conversationsWithPreviousClients"></td>
            </tr>
            <tr>
                <td>הצעות מחיר </td>
                <td><input type="number" class="form-control" id="pricesOffer" name="pricesOffer"></td>
            </tr>
            <tr>
                <td colspan="2"> <button class="btn btn-lg btn-primary btn-block " onclick="snedAlert()">שלח
                        טופס</button> </td>

            </tr>

        </tbody>
        
    </table>
    </form>
    <script>
 

    function clr() {
        document.getElementById("edu").value = ""
        document.getElementsByName("filter")[0].value = ""
        document.getElementById("meeting").value = ""
        document.getElementById("stickerFlyers").value = ""
        document.getElementById("cantidadDePropiedadesN").value = ""
        document.getElementById("negotiationsInTheProcess").value = ""
        document.getElementById("actualTransactions").value = ""
        document.getElementById("rentalTours").value = ""
        document.getElementById("collaborations").value = ""
        document.getElementById("conversationsWithPreviousClients").value = ""
        document.getElementById("pricesOffer").value = ""
    }
    function cahngevalue() {
        var a = document.getElementById("edu")
        var status = document.getElementsByName('filter')[0]
        var sumaPorPropiedad;
        if (status.value == "private") {
            sumaPorPropiedad = 30000;
        } else if (status.value == "comersial") {
            sumaPorPropiedad = 20000;
        } else {
            sumaPorPropiedad = 10000;
        }
        var cantidadDePropiedadesN = a.value / sumaPorPropiedad;
        var reunionesParaCerarrNegocio = cantidadDePropiedadesN * 20;
        var pegarStickers = reunionesParaCerarrNegocio * 2;
        document.getElementById("meeting").value = Math.round(reunionesParaCerarrNegocio / 12)
        document.getElementById("stickerFlyers").value = Math.round(pegarStickers / 12)
        document.getElementById("cantidadDePropiedadesN").value = Math.round(cantidadDePropiedadesN)
        document.getElementById("negotiationsInTheProcess").value = 1
        document.getElementById("actualTransactions").value = 1
        document.getElementById("rentalTours").value = 1
        document.getElementById("collaborations").value = 1
        document.getElementById("conversationsWithPreviousClients").value = 1
        document.getElementById("pricesOffer").value = 1
    }
    function snedAlert() {
        alert("הנך בטוח לגבי סטטיסטיקות אלו?")
    }

</script>



<!-- <%- include ("../partials/footer")%> -->