<%- include ("../partials/header")%>
<table>
    <thead>

        <tr>
            <td colspan="2"><input type="text" placeholder="הזן סכום ...." id="edu" /></td>
            
        </tr>

        <tr>
            <td><input type="button" value="בחר סכום אחר " onclick="clr()" /> </td>
            <td><input type="button" value="בצע חישוב " onclick="cahngevalue()" /></td>
        </tr>
    </thead>
    <form action="/agent/<%=agent.id%>/setgoals" method="POST">

        <tbody>
            <tr>
                <td>פגישות </td>
                <td><input type="number" class="form-control" id="meeting" name="meeting" required></td>
            </tr>
            <tr>
                <td>הדבקת פליירים </td>
                <td><input type="number" class="form-control" id="stickerFlyers" name="stickerFlyers"></td>
            </tr>
            <tr>
                <td>נכסים נדרשים </td>
                <td><input type="number" class="form-control" id="cantidadDePropiedadesN" name="learninGandRenewal">
                </td>
            </tr>
            <tr>
                <td>משא ומתן בתהליך </td>
                <td><input type="number" class="form-control" id="negotiationsInTheProcess"
                        name="negotiationsInTheProcess">
                </td>
            </tr>
            <tr>
                <td>עסקאות בפועל </td>
                <td><input type="number" class="form-control" id="actualTransactions" name="actualTransactions"></td>
            </tr>
            <tr>
                <td>סיורי שוכרים </td>
                <td><input type="number" class="form-control" id="rentalTours" name="rentalTours"></td>
            </tr>
            <tr>
                <td>שתופי פעולה </td>
                <td><input type="number" class="form-control" id="collaborations" name="collaborations"></td>
            </tr>
            <tr>
                <td>שיחות ללקוחות קודמים </td>
                <td><input type="number" class="form-control" required id="conversationsWithPreviousClients"
                        name="conversationsWithPreviousClients"></td>
            </tr>
            <tr>
                <td>הצעות מחיר </td>
                <td><input type="number" class="form-control" id="pricesOffer" name="pricesOffer"></td>
            </tr>
            <tr>
                <td colspan="2"> <button class="btn btn-lg btn-primary btn-block " onclick="snedAlert()">שלח טופס</button> </td>

            </tr>

        </tbody>
    </form>

</table>
<script>
    //function for displaying values

    function clr() {
        document.getElementById("edu").value = ""
    }

    function cahngevalue() {
        var a = document.getElementById("edu")
        var sumaPorPropiedad = 30000;
        var cantidadDePropiedadesN = a.value / sumaPorPropiedad;
        var reunionesParaCerarrNegocio = cantidadDePropiedadesN * 20;
        var pegarStickers = reunionesParaCerarrNegocio * 2;

        document.getElementById("meeting").value = Math.round(reunionesParaCerarrNegocio / 12)
        document.getElementById("stickerFlyers").value = Math.round(pegarStickers / 12)
        document.getElementById("cantidadDePropiedadesN").value = Math.round(cantidadDePropiedadesN)
        document.getElementById("negotiationsInTheProcess").value = 1
        document.getElementById("actualTransactions").value = 1
        document.getElementById("rentalTours").value = 1
        document.getElementById("collaborations").value = 1
        document.getElementById("conversationsWithPreviousClients").value = 1
        document.getElementById("pricesOffer").value = 1

    }
     function snedAlert(){
         alert("Are you sure about the statistics goals ???")
     }

</script>



<%- include ("../partials/footer")%>